In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
variable = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/PATIENTS.csv")
variable.dtypes

ROW_ID          int64
SUBJECT_ID      int64
GENDER         object
DOB            object
DOD            object
DOD_HOSP       object
DOD_SSN        object
EXPIRE_FLAG     int64
dtype: object

In [3]:
variable1 = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/LABEVENTS.csv")
variable1.dtypes

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID       float64
ITEMID          int64
CHARTTIME      object
VALUE          object
VALUENUM      float64
VALUEUOM       object
FLAG           object
dtype: object

In [4]:
variable2 = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/PROCEDURES_ICD.csv")
variable2.dtypes

ROW_ID        int64
SUBJECT_ID    int64
HADM_ID       int64
SEQ_NUM       int64
ICD9_CODE     int64
dtype: object

In [5]:
variable3 = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/PRESCRIPTIONS.csv")
variable3.dtypes

ROW_ID                 int64
SUBJECT_ID             int64
HADM_ID                int64
ICUSTAY_ID           float64
STARTDATE             object
ENDDATE               object
DRUG_TYPE             object
DRUG                  object
DRUG_NAME_POE         object
DRUG_NAME_GENERIC     object
FORMULARY_DRUG_CD     object
GSN                   object
NDC                  float64
PROD_STRENGTH         object
DOSE_VAL_RX           object
DOSE_UNIT_RX          object
FORM_VAL_DISP         object
FORM_UNIT_DISP        object
ROUTE                 object
dtype: object

In [6]:
variable4 = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/DIAGNOSES_ICD.csv")
variable4.dtypes

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID         int64
SEQ_NUM       float64
ICD9_CODE      object
dtype: object

In [7]:
variable5 = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/D_LABITEMS.csv")
variable5.dtypes

ROW_ID         int64
ITEMID         int64
LABEL         object
FLUID         object
CATEGORY      object
LOINC_CODE    object
dtype: object

In [8]:
variable6 = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/ADMISSIONS.csv")
variable6.dtypes

ROW_ID                   int64
SUBJECT_ID               int64
HADM_ID                  int64
ADMITTIME               object
DISCHTIME               object
DEATHTIME               object
ADMISSION_TYPE          object
ADMISSION_LOCATION      object
DISCHARGE_LOCATION      object
INSURANCE               object
LANGUAGE                object
RELIGION                object
MARITAL_STATUS          object
ETHNICITY               object
EDREGTIME               object
EDOUTTIME               object
DIAGNOSIS               object
HOSPITAL_EXPIRE_FLAG     int64
HAS_CHARTEVENTS_DATA     int64
dtype: object

In [9]:
variable7 = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/CALLOUT.csv")
variable7.dtypes

ROW_ID                      int64
SUBJECT_ID                  int64
HADM_ID                     int64
SUBMIT_WARDID               int64
SUBMIT_CAREUNIT            object
CURR_WARDID                 int64
CURR_CAREUNIT              object
CALLOUT_WARDID              int64
CALLOUT_SERVICE            object
REQUEST_TELE                int64
REQUEST_RESP                int64
REQUEST_CDIFF               int64
REQUEST_MRSA                int64
REQUEST_VRE                 int64
CALLOUT_STATUS             object
CALLOUT_OUTCOME            object
DISCHARGE_WARDID          float64
ACKNOWLEDGE_STATUS         object
CREATETIME                 object
UPDATETIME                 object
ACKNOWLEDGETIME            object
OUTCOMETIME                object
FIRSTRESERVATIONTIME       object
CURRENTRESERVATIONTIME     object
dtype: object

In [10]:
variable8 = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/INPUTEVENTS_MV.csv")
variable8.dtypes

ROW_ID                             int64
SUBJECT_ID                         int64
HADM_ID                            int64
ICUSTAY_ID                         int64
STARTTIME                         object
ENDTIME                           object
ITEMID                             int64
AMOUNT                           float64
AMOUNTUOM                         object
RATE                             float64
RATEUOM                           object
STORETIME                         object
CGID                               int64
ORDERID                            int64
LINKORDERID                        int64
ORDERCATEGORYNAME                 object
SECONDARYORDERCATEGORYNAME        object
ORDERCOMPONENTTYPEDESCRIPTION     object
ORDERCATEGORYDESCRIPTION          object
PATIENTWEIGHT                    float64
TOTALAMOUNT                      float64
TOTALAMOUNTUOM                    object
ISOPENBAG                          int64
CONTINUEINNEXTDEPT                 int64
CANCELREASON                       int64
STATUSDESCRIPTION                 object
COMMENTS_EDITEDBY                 object
COMMENTS_CANCELEDBY               object
COMMENTS_DATE                     object
ORIGINALAMOUNT                   float64
ORIGINALRATE                     float64
dtype: object

In [11]:
variable9 = dd.read_csv("/Users/savitha/Desktop/PythonPractice/projectdata/TRANSFERS.csv")
variable9.dtypes

ROW_ID             int64
SUBJECT_ID         int64
HADM_ID            int64
ICUSTAY_ID       float64
DBSOURCE          object
EVENTTYPE         object
PREV_CAREUNIT     object
CURR_CAREUNIT     object
PREV_WARDID      float64
CURR_WARDID      float64
INTIME            object
OUTTIME           object
LOS              float64
dtype: object

In [12]:
variable1.count()

Dask Series Structure:
npartitions=1
CHARTTIME    int64
VALUEUOM       ...
dtype: int64
Dask Name: dataframe-count-agg, 117 tasks

In [13]:
variable1.dtypes

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID       float64
ITEMID          int64
CHARTTIME      object
VALUE          object
VALUENUM      float64
VALUEUOM       object
FLAG           object
dtype: object

In [14]:
#changing the datatype of HADM_ID from float to int
variable1['HADM_ID'] = variable1.HADM_ID.fillna(0).astype(int)

In [15]:
variable1.dtypes

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID         int64
ITEMID          int64
CHARTTIME      object
VALUE          object
VALUENUM      float64
VALUEUOM       object
FLAG           object
dtype: object

In [62]:
num_lab_proc_variable = variable1.groupby(['SUBJECT_ID','HADM_ID'])['ITEMID'].count().reset_index()
#num_lab_proc_variable.count() # not working
#len(num_lab_proc_variable)
#num_lab_proc_variable.describe().columns
num_lab_proc_variable = num_lab_proc_variable.rename(columns={'ITEMID':'num_lab_procedures'})
num_lab_proc_variable.head()

   SUBJECT_ID  HADM_ID  num_lab_procedures
0           2   163353                  47
1           3        0                 656
2           3   145834                1060
3           4        0                1409
4           4   185777                 245

In [19]:
#df.HADM_ID.value_counts().reset_index(name='num_lab_procedures')

In [20]:
#df.groupby(["HADM_ID"]).count().sort_values(["ITEMID"], 
 #   ascending=False).rename(columns={"ITEMID" : "num_lab_procedures"}).reset_index()

In [21]:
#df1 = pd.DataFrame(variable2)

In [63]:
num_proc_varible = variable2.groupby(['SUBJECT_ID','HADM_ID'])['ICD9_CODE'].count().reset_index()
#num_proc_varible.count() # not working
#len(num_proc_varible)
#num_proc_varible.describe().columns
num_proc_varible = num_proc_varible.rename(columns={'ICD9_CODE':'num_procedures'})
num_proc_varible.head()

   SUBJECT_ID  HADM_ID  num_procedures
0           2   163353               1
1           3   145834               6
2           4   185777               3
3           5   178980               1
4           6   107064               5

In [64]:
variable3.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
0,2214776,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Tacrolimus,Tacrolimus,Tacrolimus,TACR1,021796,469061711.0,1mg Capsule,2,mg,2,CAP,PO
1,2214775,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,WARF5,006562,56017275.0,5mg Tablet,5,mg,1,TAB,PO
2,2215524,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Heparin Sodium,NaN,NaN,HEPAPREMIX,006522,338055002.0,"25,000 unit Premix Bag","25,000",UNIT,1,BAG,IV
3,2216265,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,BASE,D5W,NaN,NaN,HEPBASE,NaN,0.0,HEPARIN BASE,250,ml,250,ml,IV
4,2214773,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Furosemide,Furosemide,Furosemide,FURO20,008208,54829725.0,20mg Tablet,20,mg,1,TAB,PO

In [24]:
#df2 = pd.DataFrame(variable3)

In [66]:
num_med_variable = variable3.groupby(['SUBJECT_ID','HADM_ID'])['DRUG'].count().reset_index()
#num_med_variable.count() # not working
#len(num_med_variable)
#num_med_variable.describe().columns
num_med_variable = num_med_variable.rename(columns={'ICD9_CODE':'num_medications'})
num_med_variable.head()

/Users/savitha/anaconda3/lib/python3.7/site-packages/dask/local.py:252: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]
/Users/savitha/anaconda3/lib/python3.7/site-packages/dask/local.py:252: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

   SUBJECT_ID  HADM_ID  DRUG
0           2   163353     4
1           4   185777    59
2           6   107064   148
3           8   159514     4
4           9   150750    68

In [26]:
#df3 = pd.DataFrame(variable4)

In [67]:
number_diag_variable = variable4.groupby('SUBJECT_ID')['ICD9_CODE'].count().reset_index()
#number_diag_variable.count() # not working
#len(number_diag_variable)
#number_diag_variable.describe().columns
number_diag_variable = number_diag_variable.rename(columns={'ICD9_CODE':'number_diagnoses'})
number_diag_variable.head()

   SUBJECT_ID  number_diagnoses
0           2                 3
1           3                 9
2           4                 9
3           5                 3
4           6                 8

In [28]:
#df4 = pd.DataFrame(variable5)

In [90]:
glu = variable5[variable5.LABEL == 'Glucose']
glu.head()

/Users/savitha/anaconda3/lib/python3.7/site-packages/dask/dataframe/core.py:4382: UserWarning: Insufficient elements for `head`. 5 elements requested, only 3 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

     ROW_ID  ITEMID    LABEL  FLUID    CATEGORY LOINC_CODE
136      10   50809  Glucose  Blood   Blood Gas     2339-0
258     132   50931  Glucose  Blood   Chemistry     2345-7
677     678   51478  Glucose  Urine  Hematology     5792-7

In [70]:
variable5.dtypes

ROW_ID         int64
ITEMID         int64
LABEL         object
FLUID         object
CATEGORY      object
LOINC_CODE    object
dtype: object

In [103]:
#Finding max_glu_serum itemid
glu = variable5[variable5.LABEL == 'Glucose']
glu_blood = glu[glu.FLUID == 'Blood']
glu_blood_gas = glu_blood[glu_blood.CATEGORY == 'Blood Gas']
glu_blood_gas.head()
#df_glu_blood_gas = pd.DataFrame(glu_blood_gas)
#max_glu_serum_variable = df.HADM_ID[df.ITEMID == glu_blood_gas].reset_index(name='number_diagnoses')
#max_glu_serum_variable.head()

/Users/savitha/anaconda3/lib/python3.7/site-packages/dask/dataframe/core.py:4382: UserWarning: Insufficient elements for `head`. 5 elements requested, only 1 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

     ROW_ID  ITEMID    LABEL  FLUID   CATEGORY LOINC_CODE
136      10   50809  Glucose  Blood  Blood Gas     2339-0

In [92]:
glu_blood_gas.dtypes

ROW_ID         int64
ITEMID         int64
LABEL         object
FLUID         object
CATEGORY      object
LOINC_CODE    object
dtype: object

In [105]:
#Finding max_glu_serum's itemid from D_LABITEMS in LABEVENTS and fetching HADM_ID
max_glu_serum_temp = variable1[variable1['ITEMID'] == int(glu_blood_gas['ITEMID'])]
#max_glu_serum_temp.head()
max_glu_serum_temp = max_glu_serum_temp.drop_duplicates(subset=['SUBJECT_ID','HADM_ID'])
#max_glu_serum_temp.head()
max_glu_serum_variable = max_glu_serum_temp.loc[:,['SUBJECT_ID','HADM_ID','ITEMID']]
max_glu_serum_variable.rename(columns={'ITEMID':'max_glu_serum'}, inplace=True)
#max_glu_serum_variable.columns
max_glu_serum_variable.dtypes

ValueError: Not all divisions are known, can't align partitions. Please use `set_index` to set the index.

In [34]:
#Finding A1Cresult itemid
A1Cresult = df4[df4.LABEL == '% Hemoglobin A1c']
df_A1Cresult = pd.DataFrame(A1Cresult)
#df_A1Cresult.head()

In [35]:
A1Cresult_temp = df[df['ITEMID'] == int(df_A1Cresult['ITEMID'])]
#A1Cresult_temp
A1Cresult_temp = A1Cresult_temp.drop_duplicates(subset=['SUBJECT_ID','HADM_ID'])
#max_glu_serum_temp.head()
A1Cresult_variable = A1Cresult_temp.loc[:,['SUBJECT_ID','HADM_ID','ITEMID']]
A1Cresult_variable.rename(columns={'ITEMID':'A1Cresult'}, inplace=True)
A1Cresult_variable.head()

       SUBJECT_ID  HADM_ID  A1Cresult
2494            4        0      50852
4409            9   150750      50852
7931           17        0      50852
8533           18        0      50852
10311          23        0      50852

In [36]:
#Finding glyburide drug from prescriptions.csv
glyburide = df2[df2.DRUG.str.lower() == 'glyburide']
#glyburide.head()
df_glyburide = pd.DataFrame(glyburide.loc[:,['HADM_ID','DRUG']])
df_glyburide.rename(columns={'DRUG':'GlyBURIDE'}, inplace=True)
df_glyburide.head()

       HADM_ID  GlyBURIDE
1153    166707  GlyBURIDE
1188    166707  GlyBURIDE
10561   138528  Glyburide
13726   136614  GlyBURIDE
18033   135807  Glyburide

In [37]:
#Finding metformin drug from prescriptions.csv
metformin = df2[df2.DRUG.str.lower() == 'metformin']
#metformin.head()
df_metformin = pd.DataFrame(metformin.loc[:,['HADM_ID','DRUG']])
df_metformin.rename(columns={'DRUG':'Metformin'}, inplace=True)
df_metformin.head()

       HADM_ID  Metformin
482     143045  Metformin
2744    190665  Metformin
9768    151583  Metformin
10434   151583  Metformin
16448   127976  Metformin

In [38]:
#Finding pioglitazone drug from prescriptions.csv
pioglitazone = df2[df2.DRUG.str.lower() == 'pioglitazone']
#pioglitazone.head()
df_pioglitazone = pd.DataFrame(pioglitazone.loc[:,['HADM_ID','DRUG']])
df_pioglitazone.rename(columns={'DRUG':'pioglitazone'}, inplace=True)
df_pioglitazone.head()

         HADM_ID  pioglitazone
288968    143224  Pioglitazone
290186    143224  Pioglitazone
290868    143224  Pioglitazone
589697    181880  Pioglitazone
1174274   114978  Pioglitazone

In [39]:
#Finding rosiglitazone drug from prescriptions.csv
rosiglitazone = df2[df2.DRUG.str.lower() == 'rosiglitazone maleate']
#rosiglitazone.head()
df_rosiglitazone = pd.DataFrame(rosiglitazone.loc[:,['HADM_ID','DRUG']])
df_rosiglitazone.rename(columns={'DRUG':'rosiglitazone'}, inplace=True)
df_rosiglitazone.head()

       HADM_ID          rosiglitazone
24426   162308  Rosiglitazone Maleate
34284   116665  Rosiglitazone Maleate
39119   116665  Rosiglitazone Maleate
39316   116665  Rosiglitazone Maleate
47628   130310  Rosiglitazone Maleate

In [40]:
#Finding insulin drug from prescriptions.csv
insulin = df2[df2.DRUG.str.lower() == 'insulin']
#insulin.head()
df_insulin = pd.DataFrame(insulin.loc[:,['HADM_ID','DRUG']])
df_insulin.rename(columns={'DRUG':'insulin'}, inplace=True)
df_insulin.head()

     HADM_ID  insulin
27    143045  Insulin
112   185777  Insulin
114   185777  Insulin
121   185777  Insulin
123   185777  Insulin

In [41]:
#Finding patientweight from inputevents_mv.csv
mrg6 = variable8.loc[:,['HADM_ID','PATIENTWEIGHT']]
#mrg6.head()

In [42]:
#Finding timeinhospital(LengthOfStay) from transfers.csv
mrg8 = variable9.loc[:,['HADM_ID','LOS']]
#mrg8.head()

In [43]:
mrg1 = variable6.loc[:,['SUBJECT_ID','HADM_ID','ETHNICITY','ADMISSION_TYPE','ADMISSION_LOCATION',
                        'INSURANCE','DIAGNOSIS','HOSPITAL_EXPIRE_FLAG']]
#mrg1.head()
mrg2 = variable7.loc[:,['HADM_ID','DISCHARGE_WARDID']]
#mrg2.head()
mrg3 = mrg1.merge(mrg2, on='HADM_ID', how='left')
df_mrg = pd.DataFrame(mrg3)
#df_mrg['SUBJECT_ID'] = df_mrg.SUBJECT_ID.fillna(0).astype(int)
#df_mrg['HADM_ID'] = df_mrg.HADM_ID.fillna(0).astype(int)
#df_mrg.dtypes
mrg4 = variable.loc[:,['SUBJECT_ID','GENDER']]
#mrg4.head()
mrg5 = mrg3.merge(mrg4, on='SUBJECT_ID', how='left')
#mrg5.dtypes

In [44]:
mrg7 = mrg5.merge(mrg6, on='HADM_ID', how='left')
#mrg7
mrg9 = mrg7.merge(mrg8, on='HADM_ID', how='left')
#mrg9
mrg10 = mrg9.merge(num_lab_proc_variable, on='HADM_ID', how='left')
#mrg10.head()
mrg11 = mrg10.merge(num_proc_varible, on='HADM_ID', how='left')
#mrg11.head()
mrg12 = mrg11.merge(num_med_variable, on='HADM_ID', how='left')
#mrg12.head()
mrg13 = mrg12.merge(number_diag_variable, on='SUBJECT_ID', how='left')
#mrg13.head()
mrg14 = mrg13.merge(max_glu_serum_variable, on = ['SUBJECT_ID','HADM_ID'], how='right')
#mrg14

In [45]:
mrg15 = mrg14.merge(A1Cresult_variable, on = ['SUBJECT_ID','HADM_ID'], how='left')
mrg16 = mrg15.merge(df_metformin, on = 'HADM_ID', how='left')
#mrg16.count()

In [46]:
mrg17 = mrg16.merge(df_glyburide, on = 'HADM_ID', how='left')
#mrg17.count()

In [47]:
mrg18 = mrg17.merge(df_pioglitazone, on = 'HADM_ID', how='left')
#mrg18.count()

In [48]:
mrg19 = mrg18.merge(df_rosiglitazone, on = 'HADM_ID', how='left')
#mrg19.count()

In [ ]:
mrg20 = mrg19.merge(df_insulin, on = 'HADM_ID', how='left')
mrg20.count()